@model IEnumerable<Topic>
@{
    ViewData["Title"] = "Index";
    List<Category> categories = (List<Category>)ViewData["Categories"];
}

<div class="container-fluid">
    <div class="row forum-container">
        <aside class="col-md-3 col-sm-12 forum-sidebar">
            <div class="category-wrapper">
                <p>
                    <a asp-controller="Category" asp-action="Create" class="btn btn-default">Create New Category</a>
                </p>
                <h3>Categories</h3>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">All Topics</a>
                    </li>
                    @foreach (var category in categories)
                    {
                        <li>
                            <a asp-controller="Category" asp-action="Details" asp-route-id="@category.Id" class="">@category.Name</a>
                            <span>(@category.NumberTopics)</span>
                        </li>
                    }
                </ul>
            </div>
        </aside>


        <section class="col-md-9 col-sm-12 article-wrapper">
            <p>
                <a asp-controller="Topic" asp-action="Create" class="btn btn-default">Create New Topic</a>
            </p>

            @foreach (var topic in Model)
            {
                <article class="forum-post">
                    <div class="head-post">
                        <h2 class="post-title">
                            <a asp-controller="Topic" asp-action="Details" asp-route-id="@topic.Id">@topic.Title</a>
                        </h2>
                        <p>
                            <span class="user-wrap">
                                <span class="cell">
                                    <span class="user-name">Author: @topic.Author.UserName</span>
                                </span>
                            </span>
                            <span class="user-wrap">
                                <span class="cell">
                                    <span class="user-name">Created Date: @topic.CreatedDate.ToString("HH:mm dd/MMM/yyyy")</span>
                                </span>
                            </span>
                            <span class="user-wrap">
                                <span class="cell">
                                    Category: <a asp-controller="Category" asp-action="Details" asp-route-id="@topic.CategoryId">@topic.Category.Name</a>
                                </span>
                            </span>
                        </p>
                    </div>
                    <div class="meta-info">
                        <div class="col-md-6 last-replay">
                            <div class="table-holder">
                                <div class="last-replay-inner cell">
                                    <span class="cell">Last activity: </span>
                                    <span class="cell replay-date">@topic.LastUpdatedDate.ToString("HH:mm dd/MMM/yyyy")</span>
                                </div>
                            </div>
                            <div class="col-md-6 stats-holder">
                                <span class="item-wrap">
                                    <span class="cell">Comments: </span>
                                    <span class="cell">@topic.NumberComments</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </article>
            }
        </section>
    </div>
</div>
